html{
  background-color: antiquewhite;
}

.App {
  background-color: antiquewhite;
  text-align: center;
  margin: 10px;
  padding: 10px;

}

/* #navBrand{
  font-family: 'Skranji', cursive;
} */

ul{
  display: flex;
  flex-direction: column;
}

li{
  display: flex;
  justify-self: center;
  width: 40%;
  padding: 10px;
  margin: 10px;
}

#derekImage{
  width: 20%;
}
